<mat-nav-list>
  <mat-divider></mat-divider>

  

  
  <a class="side-link" mat-list-item routerLinkActive="list=item-active" dir="rtl" routerLink="/">חלקים</a>
  <a class="side-link" mat-list-item routerLinkActive="list=item-active" dir="rtl" routerLink="/posts">קטגוריות</a>
  <a class="side-link" mat-list-item routerLinkActive="list=item-active" dir="rtl" routerLink="/articles">סל קניות</a>
  <a class="side-link" mat-list-item routerLinkActive="list=item-active" dir="rtl" routerLink="/articles">צור קשר</a>
  <mat-divider></mat-divider>
  
  
 

</mat-nav-list>