<div class="row" style="margin-right: 20px;">
  <div ngbDropdown  class="cat-card">
    <div class="cat-content">
      <mat-icon>folder</mat-icon>
      <p class="cat-name">שמן</p>
    </div>
  </div> 
  <div class="cat-card">
    <div class="cat-content">
      <mat-icon>folder</mat-icon>
      <p class="cat-name">oil</p>      
    </div>
  </div>
  <div class="cat-card">
    <div class="cat-content">
      <mat-icon>folder</mat-icon>
      <p class="cat-name">oil</p>      
    </div>
  </div>
  <div class="cat-card">
    <div class="cat-content">
      <mat-icon>folder</mat-icon>
      <p class="cat-name">oil</p>      
    </div>
  </div>
  <div class="cat-card">
    <div class="cat-content">
      <mat-icon>folder</mat-icon>
      <p class="cat-name">oil</p>      
    </div>
  </div>
  <div class="cat-card">
    <div class="cat-content">
      <mat-icon>folder</mat-icon>
      <p class="cat-name">oil</p>      
    </div>
  </div>
  <div class="cat-card">
    <div class="cat-content">
      <mat-icon>folder</mat-icon>
      <p class="cat-name">oil</p>      
    </div>
  </div>
</div>

<!--<mat-nav-list class="list-horizontal" dir="rtl">
  <mat-list-item style="padding-left: 25px;">
    <ul style="margin-top: 50px;">
      <li><mat-icon mat-list-icon>folder</mat-icon></li>
      <li><a href>שמנים</a></li>
    </ul>
    <div class="headerDivider"></div>
  </mat-list-item>
  <mat-list-item style="padding-left: 25px;">
    <ul style="padding-top: 50px;">
      <li><mat-icon mat-list-icon>folder</mat-icon></li>
      <li><a href>שמנים</a></li>
    </ul>
    <div class="headerDivider"></div>
  </mat-list-item>
  <mat-list-item style="padding-left: 25px;">
    <ul style="padding-top: 50px;">
      <li><mat-icon mat-list-icon>folder</mat-icon></li>
      <li><a href>שמנים</a></li>
    </ul>
    <div class="headerDivider"></div>
  </mat-list-item>
</mat-nav-list>-->